<div class="container" *ngIf="!listaVazia">
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Ver detalhes</th>
        <th scope="col">Editar</th>
        <th scope="col">Exluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{produto.id}}</td>
        <td>{{produto.nome}}</td>
        <td>R$ {{produto.valor}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalhar/{{produto.id}}"><i class="far fa-eye"></i>
            Ver</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{produto.id}}"><i class="far fa-edit"></i>
            Editar</button></td>
        <td><button class="btn btn-outline-danger" (click)="excluir(produto.id)"><i class="far fa-trash-alt"></i>
            Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="listaVazia">
  <div class="p-3 mb-2 bg-dark text-white text-center">
    <h2>{{listaVazia}}</h2>
  </div>