<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="valor">Preço:</label>
                    <input type="number" class="form-control" id="valor" name="valor" [(ngModel)]="valor" required
                        autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-square"></i> Criar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="fas fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>