<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="valorDeVenda">Preço para venda:</label>
                    <input type="number" step="0.01" pattern="^\d+(\.\d{1,2})?$" class="form-control" id="valorDeVenda"
                        name="valorDeVenda" [(ngModel)]="valorDeVenda" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="valorDeCompra">Preço de compra:</label>
                    <input type="number" step="0.01" pattern="^\d+(\.\d{1,2})?$" class="form-control" id="valorDeCompra"
                        name="valorDeCompra" [(ngModel)]="valorDeCompra" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="observacoes">Observações:</label>
                    <input type="text" class="form-control" id="observacoes" name="observacoes"
                        [(ngModel)]="observacoes" required autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-square"></i> Criar</button>
                <button type="button" class="btn btn-outline-primary btn-block" (click)="voltar()">
                    <i class="fas fa-arrow-alt-circle-left"></i> Voltar</button>
            </form>
        </div>
    </div>
</div>